.navbar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color:  rgb(0, 0, 0);
    margin: 0;
    padding: 1rem;
    z-index: 100;
    height: 30px; 
}



  .navbar-item {
    list-style-type: none;
    text-align: left;
    color: whitesmoke;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 0px 20px
      

    
  }

  .navbar-link {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Questrial";
    letter-spacing: 1px;
    white-space: nowrap;
    
    
  }