body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    color:white;
}

main {
    display: flex;
    justify-content: space-evenly;

    
    

}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }